.about__container {
  display: grid;
  place-content: center;
  grid-template-columns: 40% 60%;
  gap: 10%;
}

.about__me {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image img {
  width: 100%;
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  width: 100%;
}

.about__card h4 {
  padding: 0.5rem 0;
}

.about__card span {
  color: var(--color-light);
  padding-right: 0.25rem;
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__card:hover span {
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__content {
    text-align: center;
  }
}
