header {
  padding-top: 7rem;
  margin-bottom: 25rem;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__buttons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5em;
}

.header__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.header__socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 0.8rem;
  left: 0;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

.header__image {
  position: absolute;
  overflow: hidden;
  width: 20rem;
  aspect-ratio: 1/1;
  margin-top: 10rem;
  border-radius: 50%;
  object-fit: contain;
  background: linear-gradient(var(--color-primary), transparent);
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  font-size: 2rem;
  margin-top: 10rem;
}

/* -----------------Media Queries(Medium sized screens)------------------ */

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/* -----------------Media Queries(Small sized screens)------------------ */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
